body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#weather-form {
  margin: 0 auto;
  width: 300px;
}

#city {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}